html {
    font-size: 50%;
    color: #141414;
}
* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
    font-size: 10px;
    padding: 0;
    background-image: url('../image/BG.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: 0;
}
@media (max-width: 799px) {
    html { font-size: 35%;}
}
@media (min-width: 800px) {
    html { font-size: 40%; }
}

@media (min-width: 1050px) {
    html { font-size: 40%; }
}

@media (min-width: 1250px) {
    html { font-size: 50%; }
}

@media (min-width: 1550px) {
    html { font-size: 50%; }
}
@media (min-width: 1700px) {
    html { font-size: 60%; }
}
@media (min-width: 1900px) {
    html { font-size: 60%; }
}