*{
    box-sizing: border-box;
}
.main_container {
    width: 137.6rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.left_container {
    width: 21.6rem;
    height: 73.6rem;
    margin-top: 8.8rem;
    display: flex;
    flex-direction: column;
    z-index: 0;
}
.center_container {
    width: 114.4rem;
    height: 73.6rem;
    margin-top: 8.8rem;
    margin-left: 1.6rem;
}
/* 메인 컨테이너 그리드 레이아웃 */
.management_grid {
    display: grid;
    grid-template-columns: 3fr 4fr 3fr;
    grid-template-rows: 25.6rem 46.4rem;
    grid-gap: 1.6rem;
}
.next_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 44.8rem;
    height: 25.6rem;
    background-color: white;
    border-radius: 0.8rem;
    grid-column: 2/3;
    grid-row: 1/2;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
}
#ready_img {
    width: 18.4rem;
    height: 13.7rem;
}
.next_content span {
    color: #bfbfbf;
    font-size: 1.4rem;
}
.manager_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33.2rem;
    height: 25.6rem;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 0.8rem;
    grid-column: 3/4;
    grid-row: 1/2;
    padding: 2.4rem 1.7rem;
}
.manager_info img {
    width: 8rem;
    height: 8rem;
}
.manager_info span:nth-child(3) {
    margin-bottom: 2.4rem;
}
.record_management {
    z-index: 10;
    position:relative;
    overflow: scroll;
    padding: 1.6rem;
    width: 79.6rem;
    height: 46.4rem;
    grid-column: 2/4;
    grid-row: 2/3;
    background-color: white;
    border-radius: 0.8rem;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.week_container {
    display: inline-block;
    width: auto;
    margin-right: 7.8rem;
}
.week_title {
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 2.4rem;
    padding-left: 7.8rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.8rem;
}
.border {
    position: absolute;
    top: 0;
    left: 0;
    border: 1.6rem solid white;
    border-radius: 0.8rem;
    width: 79.6rem;
    height: 46.4rem;
    z-index: 10000;
}